.navbar-header{
	display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.navbar-default{
	background-color: #D13B38;
}
.sr-only{
	position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: none;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}
.menu-icons a{
	padding: 0 5px;
}

.btn-search img{
	width: 28px;
}
.menu-icons .fb{
	width: 11px;
}
.menu-icons .ig{
	width: 20px
}
.menu-icons .yt{
	width: 30px
}
.menu-icons .tw{
	width: 26px
}
.navbar-brand img{
    width: 130px;
}
.tab-pane ul a{
    color: #000;
    text-decoration: none;
}
.tab-pane ul a:hover{
    background: #DFDFDF;
}
.tab-pane ul li{
    display: inline-flex;
    align-items: center;
    padding: 6px 0;
}
.tab-pane ul li img{
    height: 16px;
    position: absolute;
    right: 30px;
}
.navbar-collapse{
    background: #fff;
    padding: 20px;
}
.searchbar input{
	border-radius: 25px;
    padding: 10px 21px;
    width: 100%;
}
.searchbar a{
	position: absolute;
    right: 10%;
    top: 32%;
}
body{
    background: #E5E5E5;
}